<div class="row">
	<div class="col d-flex">
		<div>
			<img id = "profile-pic" src='imgs/profile.jpg'>
		</div>	

		<div class="my-auto" style="margin-left: 20px; ">
			<span class="float-bottom" style="font-weight: 700; font-size: 3em;"> {{this.name}} </span> <br>
			<p class="text-muted">Birthday: {{this.bday}}</p>
			<p class="text-muted">Education: {{this.education}}</p>
			<p class="text-muted">Awards: {{this.awards}}</p>
			<p class="text-muted">Achievements: {{this.achievements}}</p>
			<p class="text-muted">Cause of Death: {{this.death}}</p>
		</div>

	</div>
</div>

<div class="row mt-4 mb-5">
	<div class="col">
		<p> {{this.description}}</p>
	</div>
</div>


